#playPauseBtn{
	position: relative;
	height: 20px; /*change in script too*/
	width: 20px;
}

#mainVideo::cue{
	/*bottom: -100px;*/
	color: #ffffff;
	background-color: #0a0a0a;
	border-radius: 0;
	opacity: 0.75;
	font:  100% optima;
	font-weight: 100;
	line-height: normal;
	outline: #101010 solid 1px;
}

#mainVideo{
	height: 800px;
	font-size: 28pt;
}