#playPauseBtn{
	position: relative;
	height: 20px; /*change in script too*/
	width: 20px;
}

#mainVideo::cue{
	color: #ffffff;
	background-color: #0a0a0a;
	border-radius: 0;
	opacity: 0.75;
	font:  100% optima;
	font-weight: 100;
	line-height: normal;
	outline: #101010 solid 1px;
}

#mainVideo{
	position: relative;
	top: 0;
	/*height: 800px;  Will be used in changing font-size fo subtitles*/
	/*font-size: 28pt;  Will be used in changing font-size fo subtitles*/
}

#controlBar{
	position: relative;
	top: 0px;
}

#playPauseSprite{
	height: 20px;
}

#rightDiv{
	position: relative;
	height: 220px; /* keeping it fixed */
	overflow-y: hidden;
}

#thumbList{
	position:relative;
	height: 200px;
}

#frame{
	position:relative;
	top: 0;
	/*display: inline-block;  keeps the controlBar vertically in-line with the mainVideo */
	overflow-y: hidden;
	overflow-x: scroll;
}
/*
html{
	display:table; 
	width:100%;
}

body{
	display:table-cell; 
	text-align:center; 
	vertical-align:middle;
}*/

body{
	margin:0;
}

#inet{
	text-align: center;
	color: #202020;
	font: 15pt copperplate;
	font-weight: 300;
}

.thumbnail{
	position:relative;
	height: 200px;
}

.thumbImg{
	position:relative;
	top: 0;
	left: 0;
}

.thumbText{
	position: relative;
	top: 0;
	text-align: center;
	color: #202020;
	font: 13.5pt cochin;
	font-weight: 600;
}

