#playPauseBtn{
	position: relative;
	height: 20px; /*change in script too*/
	width: 20px;
}

.sprites{
	height: 20px;
}

.spriteContainer{
	height: 20px;
	width: 20px;
}

#controlBar{
	color: #202020;
	font: 13.5pt cochin;
	font-weight: 200;
}